In [1]:
print("Nama : Arda Nugraha")
print("NRP : 152017088")

Nama : Arda Nugraha
NRP : 152017088
Algoritma Montecarlo

In [2]:
import pandas as pd
import numpy as np
import random
data = np.array([[0, 20], [1, 40], [2, 20], [3, 10], [4, 10]])
pd.DataFrame(data, columns=["Minggu Ke", "Frekuensi"])

   Minggu Ke  Frekuensi
0          0         20
1          1         40
2          2         20
3          3         10
4          4         10

In [3]:
mingguke = data[:0]
frekuensi = data[:,1]

sigma_f = 0
for i in range(len(frekuensi)):
    sigma_f = sigma_f + frekuensi[i]

print("ΣFrekuensi:",sigma_f)

ΣFrekuensi: 100

In [4]:
prob =[]
sum_f=0
for a in range(len(frekuensi)):
    sum_f = frekuensi[a]/sigma_f
    print("probabilitas minggu ke-",a,"=",sum_f)
    prob.append(sum_f)

prob_d=np.array([prob])
data = np.concatenate((data, prob_d.T),axis=1)
pd.DataFrame(data, columns=["Minggu Ke", "Frekuensi","Probabilitas"])

probabilitas minggu ke- 0 = 0.2
probabilitas minggu ke- 1 = 0.4
probabilitas minggu ke- 2 = 0.2
probabilitas minggu ke- 3 = 0.1
probabilitas minggu ke- 4 = 0.1

   Minggu Ke  Frekuensi  Probabilitas
0        0.0       20.0           0.2
1        1.0       40.0           0.4
2        2.0       20.0           0.2
3        3.0       10.0           0.1
4        4.0       10.0           0.1

In [5]:
prob_k =[]
sum_p=0
for a in range(len(frekuensi)):
    sum_p = sum_p + prob[a]
    print("probabilitas kumulatif minggu ke-",a,"=",sum_p)
    prob_k.append(sum_p)
    
prob_kd=np.array([prob_k])
data = np.concatenate((data, prob_kd.T),axis=1)
pd.DataFrame(data, columns=["Minggu Ke", "Frekuensi","Probabilitas","Probabilitas Kumulatif"])

probabilitas kumulatif minggu ke- 0 = 0.2
probabilitas kumulatif minggu ke- 1 = 0.6000000000000001
probabilitas kumulatif minggu ke- 2 = 0.8
probabilitas kumulatif minggu ke- 3 = 0.9
probabilitas kumulatif minggu ke- 4 = 1.0

   Minggu Ke  Frekuensi  Probabilitas  Probabilitas Kumulatif
0        0.0       20.0           0.2                     0.2
1        1.0       40.0           0.4                     0.6
2        2.0       20.0           0.2                     0.8
3        3.0       10.0           0.1                     0.9
4        4.0       10.0           0.1                     1.0

In [6]:
interval_min = []
min_v=0
for a in range(len(frekuensi)):
    if(a==0):
        interval_min.append(min_v)
        print("Interval Minggu ke-",a," = ",min_v,"-",prob_k[a])
    else:
        min_v = prob_k[a-1]+0.001
        interval_min.append(min_v)
        print("Interval Minggu ke-",a," = ",min_v,"-",prob_k[a])
        
interval_mind=np.array([interval_min])
data = np.concatenate((data, interval_mind.T),axis=1)
interval_maxd=np.array([prob_k])
data = np.concatenate((data, interval_maxd.T),axis=1)
pd.DataFrame(data, columns=["Minggu Ke", "Frekuensi","Probabilitas","Probabilitas Kumulatif","Interval Batas Bawah","Interval Batas Atas"])

Interval Minggu ke- 0  =  0 - 0.2
Interval Minggu ke- 1  =  0.201 - 0.6000000000000001
Interval Minggu ke- 2  =  0.6010000000000001 - 0.8
Interval Minggu ke- 3  =  0.801 - 0.9
Interval Minggu ke- 4  =  0.901 - 1.0

,Minggu Ke,Frekuensi,Probabilitas,Probabilitas Kumulatif,Interval Batas Bawah,Interval Batas Atas
0,0.0,20.0,0.2,0.2,0.000,0.2
1,1.0,40.0,0.4,0.6,0.201,0.6
2,2.0,20.0,0.2,0.8,0.601,0.8
3,3.0,10.0,0.1,0.9,0.801,0.9
4,4.0,10.0,0.1,1.0,0.901,1.0

In [7]:
minggu_baru=101
p_minggu = []
angka_acak = []
permintaan = []
for a in range(16):
    p_minggu.append(minggu_baru)
    acak = random.random()
    angka_acak.append(acak)
    if(acak<0.2):
        jenis = 0
        permintaan.append(jenis)
    elif(acak<0.6):
        jenis = 1
        permintaan.append(jenis)
    elif(acak<0.8):
        jenis = 2
        permintaan.append(jenis)
    elif(acak<0.9):
        jenis = 3
        permintaan.append(jenis)
    elif(acak<=1):
        jenis = 4
        permintaan.append(jenis)
    minggu_baru+=1

In [8]:
print("Minggu Ke-","|","Angka Acak","|","Permintaan")
for a in range(16):
    print(p_minggu[a],"|",angka_acak[a],"|",permintaan[a])

Minggu Ke- | Angka Acak | Permintaan
101 | 0.7293641215402556 | 2
102 | 0.4652611702574265 | 1
103 | 0.45320228421260034 | 1
104 | 0.28228889453328765 | 1
105 | 0.721819264757781 | 2
106 | 0.5226361369408639 | 1
107 | 0.48871157522435515 | 1
108 | 0.6312323910642494 | 2
109 | 0.8762480260832467 | 3
110 | 0.18303178915897667 | 0
111 | 0.7471375406697318 | 2
112 | 0.02462210030248546 | 0
113 | 0.2277305059940078 | 1
114 | 0.7469677915439514 | 2
115 | 0.10979037348323084 | 0
116 | 0.41954295852457946 | 1